---
services:
  foundry:
    image: ghcr.io/felddy/foundryvtt:{{ major_version }}
    hostname: my_foundry_host
    environment:
      - FOUNDRY_HOSTNAME=<vtt.example.com>
      - FOUNDRY_PROXY_SSL=true
      - FOUNDRY_PROXY_PORT=443
      - FOUNDRY_TELEMETRY=true
    volumes:
      - type: bind
        source: ./volumes/foundry_data
        target: /data
    secrets:
      - source: foundry_secrets
        target: config.json
    networks:
      - internal
    restart: unless-stopped

  nginx:
    image: nginx:stable-alpine
    depends_on:
      - foundry
    ports:
      # HTTP, redirected to HTTPS.
      - target: 80
        published: 80
        protocol: tcp
      # HTTPS.
      - target: 443
        published: 443
        protocol: tcp
    volumes:
      - type: bind
        source: ./nginx/foundry.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
      - type: bind
        source: ./nginx/certs
        target: /etc/nginx/certs
        read_only: true
    networks:
      - internal
    restart: unless-stopped

networks:
  internal:

secrets:
  foundry_secrets:
    file: foundry_secrets.json
