{$SITE_ADDRESS} {
  reverse_proxy foundry:30000

  tls {$LETSENCRYPT_EMAIL} {
    # Uncomment the next line for staging server testing
    # ca https://acme-staging-v02.api.letsencrypt.org/directory
  }
}

{$SITE_ADDRESS}:7880 {
  reverse_proxy :7880 livekit:7880

  tls {$LETSENCRYPT_EMAIL} {
    # Uncomment the next line for staging server testing
    # ca https://acme-staging-v02.api.letsencrypt.org/directory
  }
}

${TURN_ADDRESS} {
  reverse_proxy livekit:5349

  tls {$LETSENCRYPT_EMAIL} {
    # Uncomment the next line for staging server testing
    # ca https://acme-staging-v02.api.letsencrypt.org/directory
  }
}
