---
name: Build and push

on:
  workflow_call:
    inputs:
      # Required inputs
      image_name:
        description: "The Docker image name"
        required: true
        type: string
      platforms:
        description: "The list of platforms to build images for"
        required: true
        type: string
      # Optional inputs
      build_args:
        description: "Build args to pass to the Dockerfile"
        required: false
        type: string
      buildx_cache_dir:
        description: "The buildx cache directory"
        default: ~/.cache/buildx
        required: false
        type: string
      do_publish_readme:
        description: "Whether to publish the README"
        default: true
        required: false
        type: boolean
      docker_file:
        description: "The Dockerfile to use"
        default: ./Dockerfile
        required: false
        type: string
      image_labels:
        description: "Image labels to apply to the image"
        required: false
        type: string
      image_tags:
        description: "The tags to apply to the image"
        default: local/test-image:latest
        required: false
        type: string
    secrets:
      docker_password:
        description: "The password for the Docker hub account"
        required: true
      docker_username:
        description: "The username for the Docker hub account"
        required: true

jobs:
  build-push-all:
    # Builds the final set of images for each of the platforms listed in
    # PLATFORMS environment variable.  These images are tagged with the Docker
    # tags calculated in the "prepare" job and pushed to Docker Hub and the
    # GitHub Container Registry.  The contents of README.md are pushed as the
    # image's description to Docker Hub.  This job is skipped when the
    # triggering event is a pull request.

    # This workflow requires the caller to declare:
    #   permissions:
    #     packages: write

    name: "Build and push all platforms"
    env:
      DOCKERFILE_X: /tmp/Dockerfile-x
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34
        with:
          # TODO: change to 'egress-policy: block' after couple of runs
          egress-policy: audit
      - name: Login to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_password }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - name: Set up QEMU
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@95cb08cb2672c73d4ffd2f422e6d11953d2a9c70
      - name: Cache Docker layers
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        env:
          BASE_CACHE_KEY: buildx-${{ runner.os }}-
        with:
          path: ${{ inputs.buildx_cache_dir }}
          key: ${{ env.BASE_CACHE_KEY }}${{ github.sha }}
          restore-keys: |
            ${{ env.BASE_CACHE_KEY }}
      - name: Create cross-platform support Dockerfile-x
        run: |
          ./buildx-dockerfile.sh ${{ inputs.docker_file }} \
          ${{ env.DOCKERFILE_X }}
      - name: Build and push platform images to registries
        id: docker_build
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
        with:
          build-args: ${{ inputs.build_args }}
          cache-from: type=local,src=${{ inputs.buildx_cache_dir }}
          cache-to: type=local,dest=${{ inputs.buildx_cache_dir }}
          context: .
          file: ${{ env.DOCKERFILE_X }}
          labels: ${{ inputs.image_labels }}
          platforms: ${{ inputs.platforms }}
          push: true
          tags: ${{ inputs.image_tags }}
      - name: Publish README.md to Docker Hub
        if: inputs.do_publish_readme
        env:
          DOCKER_PASSWORD: ${{ secrets.docker_password }}
          DOCKER_USERNAME: ${{ secrets.docker_username }}
          IMAGE_NAME: ${{ inputs.image_name }}
        run: ./push_readme.sh
